
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px; 
	height: 1400px;
	position: absolute;
	top: 5%;
	left: 30%;
	background-color: #c7ebff;



}

h1, h2, h3, h4, h5, h6{
		font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 40px;
	line-height: 50px;


}

.green{
	width: 600px;
	height: 300px;
	background-color: #0a661b;
	position: relative;
	border-radius: 1%;
}

.red{
	width: 180px;
	height: 180px;
	background-color: red;
	border-radius: 100%;
	position: absolute;
	top: 20% ;
	left: 35%
}

.green .fb{
	width: 180px;
	position: fixed;
	top: 30%;
	right: -120px;
	transition: 1s;
}

.green .fb:hover{
	right: -2px;
	cursor: pointer;
}

.green .instagram{
	width: 180px;
	position: fixed;
	top: 40%;
	right: -125px;
	transition: 1s;
}

.green .instagram:hover{
	right: -2px;
	cursor: pointer;
}

.green .twitter{
	width: 180px;
	position: fixed;
	top: 50%;
	right: -115px;
	transition: 1s;
}

.green .twitter:hover{
	right: -2px;
	cursor: pointer;
}

.green .youtube{
	width: 180px;
	position: fixed;
	top: 60%;
	right: -120px;
	transition: 1s;
}

.green .youtube:hover{
	right: -2px;
	cursor: pointer;
}

.social-icons{
	width: 100%;
	display: block;
	text-align: center;
	padding: 40px 0px;
}

.social-icons li{
	list-style: none;
	display: inline-block;
}

.social-icons li a{
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	background: #000;
	border: 2px solid #000; 
	font-size: 30px;
	margin: 20px 0px 50px 0px;
	color: #fff;
	transition: 1s;
}

.social-icons li a:hover{
	background: transparent;
	color:  #000;
	border-radius: #000;	
}

.social-icons li a:focus{
	background: transparent;
	color:  #000;
	border-radius: #000;	
}






















